extends layout 

block main-content 
    div(style=`background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(${homeBg}) no-repeat center center; background-size: cover; min-height: 80vh;margin: 0; padding: 0;`)    
        .row.mt-5
            .col.col-md-8.offset-md-2.d-flex.flex-column.justify-content-center
                .d-flex.flex-row.justify-content-center
                    i.fa-solid.fa-quote-left.text-primary.fs-1.text-start.me-2
                    h1.page-title.text-center.fw-bold.text-light.fs-2 #{quote.q}
                    i.fa-solid.fa-quote-right.text-primary.fs-1.text-end.mt-5
                p.text-end.text-danger.mb-4 
                    |- #{quote.a}
                form.d-flex.main-search(role='search' method="get" action="/searches")
                    .input-group.border.border-2.border-info.rounded-pill.shadow
                        button.input-group-text.myRounded-start.border.border-info(id="basic-addon1" style="background:rgba(0,0,0,0.4);" type="submit")
                            i.text-secondary.fa-solid.fa-magnifying-glass
                        input.form-control.p-2.myRounded-end.text-light.border.border-info(style="background:rgba(0,0,0,0.4);" type='search' placeholder='Search by book title, author, or keyword' aria-label='Search' aria-describedby="basic-addon1" id="search" name="search")