extends layout 

block main-content 
    div(style=`background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/tool_bg.jpg") no-repeat center center; background-size: cover; min-height: 80vh;margin: 0; padding: 0;`)
        h1.text-center.text-light.my-5 The Age of Smart Reading: Books X AI 
        .row.mt-3 
            .col-md-8.offset-md-2.d-flex.flex-row.justify-content-evenly
                a.AI-card.d-flex.flex-column.justify-content-between.align-items-center.p-3.rounded-3.shadow(style="width:13rem;" href="/createbookmark")
                    img.mt-2(src="/img/tool_bookmark.svg" style="width:10rem;height:6.25rem;")
                    h4.text-center.text-white #{bookMarkTitle}
                a.AI-card.d-flex.flex-column.justify-content-between.align-items-center.p-3.rounded-3.shadow(style="width:13rem;" href="/audioplayground")
                    img(src="/img/tool_audio.svg" style="width:10rem;height:6.25rem;")
                    h4.text-center.text-white #{audioTextTitle}
                a.AI-card.d-flex.flex-column.justify-content-between.align-items-center.p-3.rounded-3.shadow(style="width:13rem;" href="/ebooks")
                    img(src="/img/tool_ebook.svg" style="width:10rem;height:6.25rem;")
                    h4.text-center.text-white #{previewTitle}